@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading-primary {
        font-size: 52px;
        font-weight: 600;
        line-height: 78px;
        letter-spacing: -0.02em;
        color: rgba(0, 7, 52, 1);
    }

    .heading-secondary {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: rgba(0, 7, 52, 1);
    }

    .heading-tertiary {
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -0.02em;
        color: rgba(0, 7, 52, 1);
    }

    .btn-primary {
        box-shadow: -2px 2px 10px 1px rgba(4, 18, 115, 0.06);
        background: rgba(4, 18, 115, 1);
        color: #ffffff;
        border-radius: 8px;
        padding: 10px 20px;
    }
}